#board
{
	display: flex;
	flex-flow: row nowrap;
	
	width: 810px;
	height: 810px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: -4%;
}
@media only screen and (min-width: 1000px)
{
	#board { left: -2.5%; }
}

#board .label
{
	flex: 1 0 90px;
	
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	line-height: calc(810px / 9);
	justify-content: center;
}

#board .rank
{
	display: flex;
	flex: 1 0 90px;
	flex-flow: column nowrap;
}

#board .file
{
	flex: 1 0 90px;
	background-color: #555;
}
#board .file.alt { background-color: #CCC; }

#board .piece
{
	cursor: grab;
	color: #000;
	width: 90px;
	height: 90px;
	font-size: 4em;
	font-weight: bold;
	line-height: 90px;
	text-align: center;
	user-select: none;
}

#board .piece.dragging
{
	background-color: rgba(255, 255, 255, 0);
}

#board .piece.white { color: rgb(131, 144, 150); }
#board .piece.black { color: #000; }
